img.rating-star {
    width: 1.5em;
    height: auto;
}

button.buy-button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button.remind-button {
    background-color: orange;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

#admin-add-book-link {
    text-decoration: none;
}

#admin-add-book-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

#admin-add-book-button:hover {
    background-color: #1b6b1f;
}