@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700&display=swap');

.context {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    gap: 20px;
    padding: 15px;
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    background-color: #b3cde0; /* Apply light indigo background */
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 25%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.1) 75%);
    background-size: 200px 100%;
    animation: shine 2s infinite linear; /* Apply shine animation */
}

@media (min-width: 640px) {
    .context {
        grid-template-columns: repeat(auto-fill, minmax(420px, 1fr)); /* Adjust for larger screens */
    }
}

.bg-light-indigo {
    background-color: #b3cde0;
}

.text-indigo {
    color: indigo;
}

:where(.text-greencs-light) {
    color: #25c2a0;
}

:where(.plus-jakarta-sans) {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 100;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

body {
    padding-top: 60px; /* Adjust this value based on the height of your navbar */
}

hr.black-hr {
    border: none;
    border-top: 1px solid gray;
}

.form-style form input, form textarea, form select {
    width: 100%;
    padding: 0.5rem;
    border: 2px solid #bcbcbc;
    border-radius: 0.375rem;
}

.form-style form input:focus, form textarea:focus, form select:focus {
    outline: none;
    border-color: #674ea7;
    box-shadow: 0 0 0 3px #674ea7;
}

.animate-shine {
    background: linear-gradient(120deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.3));
    background-size: 200% 100%;
    animation: shine 3s infinite;
}

@keyframes shine {
    0% { background-position: -200% 0; }
    100% { background-position: 200% 0; }
}

a.show-more {
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
}

.book-image {
    max-width: 300px;
    height: auto;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

img.rating-star {
    width: 1.5em;
    height: auto;
}

.book-info {
    flex-grow: 1; /* Allow the book info to grow and take available space */
    width: 100%;
}

button.category-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 2px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 3px 1px;
    cursor: pointer;
    border-radius: 5px;
}

button.buy-button {
    background-color: green;
}

button.remind-button {
    background-color: orange;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

#edit-book-button,
#delete-book-button,
#admin-add-book-button,
button.buy-button {
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

#edit-book-button {
    background-color: #4CAF50;
}

a.edit-book-link:hover,
#admin-add-book-button:hover,
button.category-button:hover,
button#edit-book-button:hover {
    background-color: #1b6b1f;
}

#delete-book-button {
    background-color: #f44336;
}

#delete-book-button:hover {
    background-color: #d32f2f;
}

button.buy-button:hover {
    background-color: darkgreen;
}

button.remind-button:hover {
    background-color: darkorange;
}

a#admin-add-book-link {
    text-decoration: none;
}

#admin-add-book-button {
    background-color: #4CAF50;
}