<footer class="text-white py-4 shadow-lg fixed bottom-0 left-0 z-40 w-screen relative" style="background-color: #2f4a5e;">
    <p class="text-left px-4 py-4 items-center justify-between">&copy; 2024 Classroom Bookstore</p>
    <nav class="text-white py-4 shadow-lg fixed bottom-0 left-0 z-40 w-screen relative" style="background-color: #2f4a5e;">
        <div class="container mx-auto flex justify-between items-center">
            <div class="text-center flex-grow">
                <!-- Center-aligned content can go here if needed -->
            </div>
        </div>
    </nav>
</footer>