{% load static %}

<div class="book-cards border border-gray-300 rounded-lg shadow-md p-4 flex flex-col items-center justify-start bg-light-indigo {{ book.category|slugify }}">
    <div class="book-image max-w-xs h-auto rounded-lg flex justify-center items-center">
        <img src="{{ book.image.url }}" alt="{{ book.name }}">
    </div>
    <h2 class="font-bold text-lg text-greencs-light mt-4 plus-jakarta-sans" id="book-title">{{ book.name }}</h2>
    <div class="book-info w-full text-justify text-gray-600 mt-2">
        <p id="price-tag" class="font-bold"><strong>Price:</strong> Rp{{ book.price }},-</p>
        <p class="short-descr">{{ book.description|slice:":150" }}<span class="full-descr hidden">{{ book.description|slice:"150:" }}</span>
        <a href="javascript:void(0);" class="show-more text-blue-500" onclick="toggleDescription(this)">Show More</a></p>
        <p><strong>Category:</strong> {{ book.category }}</p>
        <p><strong>Author:</strong> {{ book.author }}</p>
        <p><strong>Published Date:</strong> {{ book.published_date }}</p>
        <p><strong>ISBN (13 digit):</strong> {{ book.isbn_13 }}</p>
        <p><strong>Availability Stock: {{ book.quantity }}</strong></p>
        <p><strong><img class="rating-star inline-block" src="{% static 'image/properties/rating-star.png' %}" alt="Rating Star">Rating:</strong> {{ book.rating_star }} / 5.0</p>

        <!-- Additional Attributes -->
        <span class="more-attributes hidden">
            <p><strong>ISBN (10 digit):</strong> {{ book.isbn_10 }}</p>
            <p><strong>Publisher:</strong> {{ book.publisher }}</p>
            <p><strong>Pages:</strong> {{ book.pages }}</p>
            <p><strong>Language:</strong> {{ book.language }}</p>
            <p><strong>Weight:</strong> {{ book.weight }} grams</p>
        </span>
        <a href="javascript:void(0);" class="show-more" onclick="toggleAttributes(this)">Show More</a>
        <br><br>

        <!-- Conditional Button -->
        {% if book.is_in_stock %}
            <button class="buy-button">Buy Now</button>
            <button class="add-to-cart-button">
                Add to Cart
                <svg class="w-4 h-4 inline-block ml-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-1.4 5h11.2L17 13M5.4 5H19M5.4 5L4 3M17 13l1.4 5M9 21h6"></path>
                </svg>
            </button>
        {% else %}
            <button class="remind-button">Remind Me</button>
        {% endif %}

        <!-- Options: Edit and delete book entry: -->
        <div class="book-options">
            <a href="{% url 'main:edit_book' book.pk %}" id="edit-book-link">
                <button id="edit-book-button">Edit Book Entry</button>
            </a>
            <a href="{% url 'main:delete_book' book.pk %}" id="delete-book-link">
                <button id="delete-book-button">Delete Book Entry</button>
            </a>
        </div>
    <hr class="gray-hr animate-shine">
    </div>
</div>