<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<html lang="en">
<head>
    {% block meta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login to Classroom Bookstore</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    {% endblock meta %}
</head>
<body>
    <div class="login">
        <h1>Login to Classroom Bookstore</h1>

        <form method="POST">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
                <tr>
                    <td></td>
                    <td><input type="submit" name="submit" value="Login" /></td>
                </tr>
            </table>
        </form>

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <!-- <li{% if message.tags %} class="{{ message }}"{% endif %}>{{ message }}</li> -->
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <p>Don't have an account? Register here!</p>
        <a href="{% url 'main:register' %}">
            <button>Register</button>
        </a>
    </div>
</body>
{% endblock content %}
</html>