<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
{% include 'navbar.html' %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Classroom Bookstore</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/global.css' %}">
    </head>
    <body class="flex flex-col min-h-screen">
        <div class="container mx-auto p-4">
            <div class="context grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
                {% for book in data_books %}
                {% include 'book_cards.html' %}
                {% empty %}
                <p>No books available</p>
                {% endfor %}
            </div>
            <div class="admin-menus mt-4">
                <a href="{% url 'main:add_book' %}" id="admin-add-book-link">
                    <button id="admin-add-book-button" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">Add Book</button>
                </a>
            </div>
            <hr class="my-4">
        </div>
        
        <script>
            function toggleAttributes(anchor) {
                var moreAttributes = anchor.previousElementSibling;
                if (moreAttributes.style.display === "none") {
                    moreAttributes.style.display = "block";
                    anchor.textContent = "Show Less";
                } else {
                    moreAttributes.style.display = "none";
                    anchor.textContent = "Show More";
                }
            }
        
        function filterSelection(category) {
            var books = document.getElementsByClassName("book-cards");
            if (category === "all") {
                for (var i = 0; i < books.length; i++) {
                    books[i].style.display = "block";
                }
            } else {
                for (var i = 0; i < books.length; i++) {
                    if (books[i].getElementsByClassName("book-info")[0].getElementsByTagName("p")[2].textContent.split(": ")[1] === category) {
                        books[i].style.display = "block";
                    } else {
                        books[i].style.display = "none";
                    }
                }
            }
        }
        
        function toggleDescription(element) {
            var fullDescr = element.previousElementSibling;
            if (fullDescr.style.display === "none") {
                fullDescr.style.display = "inline";
                element.textContent = "Show Less";
            } else {
                fullDescr.style.display = "none";
                element.textContent = "Show More";
            }
        }
        </script>


</body>                    
</html>
{% include 'footer.html' %}
{% endblock content %}